#welcoming {
    font: italic 2em/2em Arial;
    color: blue;
    text-align: center;
}
body {
    font: normal 1em/1em Arial;
    color: black;
    text-align: justify;
    background-color: beige;
}
.contents-link {
    font: normal 1.25em/1em Arial;
    color: violet;
    text-align: justify;
}
.blue-allocation {
    color: blue;
}
.cursive-text {
    font-style: italic;
}
ul {
    margin: 10px;
    list-style-type: circle;
}
ol {
    font: italic 1.5em/1.5em Arial;
    list-style-type: upper-roman;
}
dl {
    border: 3px solid black;
    padding: 5px;
    background-color: aquamarine;
}
table {
    border: 3px solid black;
}
th, td {
    border: 3px solid black;
}
.spaced-table {
    border-spacing: 3px;
}
.spaced-table th, .spaced-table td {
    padding: 5px;
}
.red-column {
    background-color: red;
}
.green-column {
    background-color: green;
}
.yellow-column {
    background-color: yellow;
}
td > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table > caption {
    margin: 10px;
    font: italic 1em/1em Arial;
}
.right-aligned {
    text-align: right;
}
.simple-table {
    border-collapse: collapse;
}
.simple-table thead {
    background-color: yellow;
}
.simple-table th, .simple-table td {
    width: 400px;
}
li + li {
    margin-top: 5px;
}
.side-info {
    float: right;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}
.emphasized {
    font: bold italic 1em/1em "Times New Roman";
}
.good-article {
    position: relative;
    left: 50px;
    width: 100px;
    padding: 20px;
    background-color: grey;
    color: yellow;
    text-align: center;
}
.good-article span:first-child {
    font-size: 75px;
    line-height: 90px;
}
a:hover {
    font-size: 1.5em;
}
.regions-list {
    list-style-type: none;
}
.regions-list li:before {
    content: "+ ";
}
.regions-list li:after {
    content: ";";
}
.regions-list li:last-child:after {
    content: "";
}
.side-info > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side-info > iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side {
    float: right;
}
.side > div {
    border: 3px solid black;
    margin: 10px;
    width: 300px;
    text-align: center;
}
button {
    margin: 10px;
}
#dev-info {
    cursor: pointer;
}